$background-color: hsl(233, 47%, 7%);
$cardBody-color: hsl(244, 38%, 16%);
$text-color: hsl(0, 0%, 100%);
$textAccentuated-color: hsl(277, 64%, 61%);
$textFaded-color: hsla(0, 0%, 100%, 0.75);

$font-weights: (
	"thin": 200,
	"regular": 400,
	"medium": 500,
	"bold": 700
);

$mobile: 1000px;
